main 
    div(class="banner position-relative") 
        img(src="images/banner/b2.png" alt="b2" class="banner-background-1")
        img(src="images/banner/b3.png" alt="b3" class="banner-background-2")
        div(class="banner_")
            div(class="container_")
                div(class="row")
                    div(class="col-xl-5 col-lg-6")
                        div(class="banner-l")
                            span(class="banner-slogan") HELP YOUR ANIMALS ENJOY THEIR LIFE
                            span(class="banner-title") The cutest and the furriest pets choose Sobaken!
                            p(class="banner-desc") Long lasting effect! Keeping your kitty healthy and flea prevented! Choose the best based on the honest reviews and active ingredients!
                            
                            div(class="d-flex banner-buttons")
                                button(type="button" class="banner-button banner-button__cat") 
                                    img(src="images/banner/cat.svg" class="banner-icon" alt="cat")
                                    span For cats
                                button(type="button" class="banner-button banner-button__dog") 
                                    img(src="images/banner/dog.svg" class="banner-icon" alt="dog")
                                    span For dogs
                    div(class="col-xl-7 col-lg-6 position-relative")
                        div(class="banner-image")
                            img(src="images/banner/b1.png" alt="b1")
                    div(class="col-xl-9 col-lg-9 position-relative banner-items")
                        div(class="banner-list")
                            div(class="row banner-row")
                                div(class="col-xl-4 col-lg-4 col-4 banner-item")
                                    div(class="banner-item__bg position-relative")
                                        img(src="images/banner/1.svg", alt="1" class="banner-item__icon")
                                        span(class="banner-item__title") Age of using
                                        span(class="banner-item__desc") You can start use Collar from 3 month age of your pet.
                                div(class="col-xl-4 col-lg-4 col-4 banner-item")
                                    div(class="banner-item__bg position-relative")
                                        img(src="images/banner/2.svg", alt="2" class="banner-item__icon")
                                        span(class="banner-item__title") Charity
                                        span(class="banner-item__desc") With every sold collar we donate 3$ to Organizations that are engaged in saving animals
                                div(class="col-xl-4 col-lg-4 col-4 banner-item")
                                    div(class="banner-item__bg position-relative")
                                        img(src="images/banner/3.svg", alt="3" class="banner-item__icon")
                                        span(class="banner-item__title") 8 month protection
                                        span(class="banner-item__desc") We protect your pet or puppy from flea and ticks 24h/7 days a week during 8 MONTHS



                            