main 
    div(class="notification") Товар добавлен
    div(class="banner position-relative") 
        img(src="images/main-page-banner/b2.png" alt="b2" class="banner-background-1")
        img(src="images/main-page-banner/b3.png" alt="b3" class="banner-background-2")
        div(class="banner_")
            div(class="container_")
                div(class="row")
                    div(class="col-xl-5 col-lg-6")
                        div(class="banner-l")
                            span(class="banner-slogan") HELP YOUR ANIMALS ENJOY THEIR LIFE
                            span(class="banner-title") The cutest and the furriest pets choose Sobaken!
                            p(class="banner-desc") Long lasting effect! Keeping your kitty healthy and flea prevented! Choose the best based on the honest reviews and active ingredients!
                            
                            div(class="d-flex banner-buttons")
                                button(type="button" class="banner-button banner-button__cat") 
                                    img(src="images/main-page-banner/cat.svg" class="banner-icon" alt="cat")
                                    span For cats
                                button(type="button" class="banner-button banner-button__dog") 
                                    img(src="images/main-page-banner/dog.svg" class="banner-icon" alt="dog")
                                    span For dogs
                    div(class="col-xl-7 col-lg-6 position-relative")
                        div(class="banner-image")
                            img(src="images/main-page-banner/b1.png" alt="b1")
                    div(class="col-xl-9 col-lg-9 position-relative banner-items")
                        div(class="banner-list")
                            div(class="row banner-row")
                                div(class="col-xl-4 col-lg-4 col-4 banner-item")
                                    div(class="banner-item__bg position-relative")
                                        img(src="images/main-page-banner/1.svg", alt="1" class="banner-item__icon")
                                        span(class="banner-item__title") Age of using
                                        span(class="banner-item__desc") You can start use Collar from 3 month age of your pet.
                                div(class="col-xl-4 col-lg-4 col-4 banner-item")
                                    div(class="banner-item__bg position-relative")
                                        img(src="images/main-page-banner/2.svg", alt="2" class="banner-item__icon")
                                        span(class="banner-item__title") Charity
                                        span(class="banner-item__desc") You can start use Collar from 3 month age of your pet.
                                div(class="col-xl-4 col-lg-4 col-4 banner-item")
                                    div(class="banner-item__bg position-relative")
                                        img(src="images/main-page-banner/3.svg", alt="3" class="banner-item__icon")
                                        span(class="banner-item__title") 8 month protection
                                        span(class="banner-item__desc") You can start use Collar from 3 month age of your pet.
    div(class="catalog")
        div(class="container_")
            div(class="wraps-catalog")
                div(class="catalog__title-wrap")
                    div(class="catalog__title-block")
                        div(class="catalog__icon catalog__icon--orange")
                            img(src="images/main-page-catalog/cat.svg" alt="cat-catalog")
                        span(class="catalog__title") Our products for cats
                    button(class="catalog-button" type="button") View all (14)
                div(class="catalog-products")
                    div(class="catalog-wrap-row")
                        div(class="row catalog-row")
                            div(class="col-xl-4 col-lg-4")
                                div(class="catalog-item")
                                    span(class="catalog-item__stock catalog-item__stock--hot") HOT
                                    div(class="catalog__photo-block")
                                        img(src="images/main-page-catalog/photo-item-cat.png" alt="photo-cat-1")
                                    div(class="catalog__item-wrap")
                                        div(class="catalog__stars-wrap")
                                            div(class="catalog__stars-items")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-1")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-2")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-3")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-4")
                                                img(src="images/main-page-catalog/star.svg" class="catalog__star-item" alt="star-5")
                                            span(class="catalog__stars-txt") (123)
                                        span(class="catalog-item__title") SOBAKEN Flea Collar for Cat, Natural Flea Collar
                                        span(class="catalog-item__price") $123.32
                                        div(class="catalog-item__buttons")
                                            button(type="button" class="catalog-item__button") 
                                                img(src="images/common/cart.svg" alt="cart-item" class="catalog-item__cart")
                                                img(src="images/common/approve.svg" alt="approve-item" class="catalog-item__approve")
                                                span(class="catalog-item__add") Add to cart
                                                span(class="catalog-item__txt-approve") Added!
                                            button(type="button" class="catalog-item__button-love")
                                                img(src="images/common/outline.svg", alt="outline-1")
                            div(class="col-xl-4 col-lg-4")
                                div(class="catalog-item")
                                    span(class="catalog-item__stock catalog-item__stock--red") -15%
                                    div(class="catalog__photo-block")
                                        img(src="images/main-page-catalog/photo-item-cat.png" alt="photo-cat-1")
                                    div(class="catalog__item-wrap")
                                        div(class="catalog__stars-wrap")
                                            div(class="catalog__stars-items")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-1")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-2")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-3")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-4")
                                                img(src="images/main-page-catalog/star.svg" class="catalog__star-item" alt="star-5")
                                            span(class="catalog__stars-txt") (123)
                                        span(class="catalog-item__title") SOBAKEN Flea Collar for Cat, Natural Flea Collar
                                        span(class="catalog-item__price") 
                                            span $123.32
                                            span(class="catalog-item__price-old") $145
                                        div(class="catalog-item__buttons")
                                            button(type="button" class="catalog-item__button") 
                                                img(src="images/common/cart.svg" alt="cart-item" class="catalog-item__cart")
                                                img(src="images/common/approve.svg" alt="approve-item" class="catalog-item__approve")
                                                span(class="catalog-item__add") Add to cart
                                                span(class="catalog-item__txt-approve") Added!
                                            button(type="button" class="catalog-item__button-love")
                                                img(src="images/common/outline.svg", alt="outline-1")
                            div(class="col-xl-4 col-lg-4")
                                div(class="catalog-item")
                                    span(class="catalog-item__stock catalog-item__stock--red") -15%
                                    div(class="catalog__photo-block")
                                        img(src="images/main-page-catalog/photo-item-cat.png" alt="photo-cat-1")
                                    div(class="catalog__item-wrap")
                                        div(class="catalog__stars-wrap")
                                            div(class="catalog__stars-items")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-1")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-2")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-3")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-4")
                                                img(src="images/main-page-catalog/star.svg" class="catalog__star-item" alt="star-5")
                                            span(class="catalog__stars-txt") (123)
                                        span(class="catalog-item__title") SOBAKEN Flea Collar for Cat, Natural Flea Collar
                                        span(class="catalog-item__price") 
                                            span $123.32
                                            span(class="catalog-item__price-old") $145
                                        div(class="catalog-item__buttons")
                                            button(type="button" class="catalog-item__button") 
                                                img(src="images/common/cart.svg" alt="cart-item" class="catalog-item__cart")
                                                img(src="images/common/approve.svg" alt="approve-item" class="catalog-item__approve")
                                                span(class="catalog-item__add") Add to cart
                                                span(class="catalog-item__txt-approve") Added!
                                            button(type="button" class="catalog-item__button-love")
                                                img(src="images/common/outline.svg", alt="outline-1")
                button(class="catalog-button catalog-button--mobile" type="button") View all (14)
            div(class="wraps-catalog")
                div(class="catalog__title-wrap")
                    div(class="catalog__title-block")
                        div(class="catalog__icon catalog__icon--green")
                            img(src="images/main-page-catalog/dog.svg" alt="dog-catalog")
                        span(class="catalog__title") Our products for dogs
                    button(class="catalog-button" type="button") View all (14)             
                div(class="catalog-products")
                    div(class="catalog-wrap-row")
                        div(class="row catalog-row")
                            div(class="col-xl-4 col-lg-4")
                                div(class="catalog-item")
                                    span(class="catalog-item__stock catalog-item__stock--hot") HOT
                                    div(class="catalog__photo-block")
                                        img(src="images/main-page-catalog/photo-item-dog.png" alt="photo-dog-1")
                                    div(class="catalog__item-wrap")
                                        div(class="catalog__stars-wrap")
                                            div(class="catalog__stars-items")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-1")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-2")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-3")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-4")
                                                img(src="images/main-page-catalog/star.svg" class="catalog__star-item" alt="star-5")
                                            span(class="catalog__stars-txt") (123)
                                        span(class="catalog-item__title") SOBAKEN Flea Collar for Cat, Natural Flea Collar
                                        span(class="catalog-item__price") $123.32
                                        div(class="catalog-item__buttons")
                                            button(type="button" class="catalog-item__button") 
                                                img(src="images/common/cart.svg" alt="cart-item" class="catalog-item__cart")
                                                img(src="images/common/approve.svg" alt="approve-item" class="catalog-item__approve")
                                                span(class="catalog-item__add") Add to cart
                                                span(class="catalog-item__txt-approve") Added!
                                            button(type="button" class="catalog-item__button-love")
                                                img(src="images/common/outline.svg", alt="outline-1")
                            div(class="col-xl-4 col-lg-4")
                                div(class="catalog-item")
                                    span(class="catalog-item__stock catalog-item__stock--red") -15%
                                    div(class="catalog__photo-block")
                                        img(src="images/main-page-catalog/photo-item-dog.png" alt="photo-dog-1")
                                    div(class="catalog__item-wrap")
                                        div(class="catalog__stars-wrap")
                                            div(class="catalog__stars-items")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-1")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-2")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-3")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-4")
                                                img(src="images/main-page-catalog/star.svg" class="catalog__star-item" alt="star-5")
                                            span(class="catalog__stars-txt") (123)
                                        span(class="catalog-item__title") SOBAKEN Flea Collar for Cat, Natural Flea Collar
                                        span(class="catalog-item__price") 
                                            span $123.32
                                            span(class="catalog-item__price-old") $145
                                        div(class="catalog-item__buttons")
                                            button(type="button" class="catalog-item__button") 
                                                img(src="images/common/cart.svg" alt="cart-item" class="catalog-item__cart")
                                                img(src="images/common/approve.svg" alt="approve-item" class="catalog-item__approve")
                                                span(class="catalog-item__add") Add to cart
                                                span(class="catalog-item__txt-approve") Added!
                                            button(type="button" class="catalog-item__button-love")
                                                img(src="images/common/outline.svg", alt="outline-1")
                            div(class="col-xl-4 col-lg-4")
                                div(class="catalog-item")
                                    span(class="catalog-item__stock catalog-item__stock--red") -15%
                                    div(class="catalog__photo-block")
                                        img(src="images/main-page-catalog/photo-item-dog.png" alt="photo-dog-1")
                                    div(class="catalog__item-wrap")
                                        div(class="catalog__stars-wrap")
                                            div(class="catalog__stars-items")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-1")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-2")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-3")
                                                img(src="images/main-page-catalog/star-o.svg" class="catalog__star-item" alt="star-4")
                                                img(src="images/main-page-catalog/star.svg" class="catalog__star-item" alt="star-5")
                                            span(class="catalog__stars-txt") (123)
                                        span(class="catalog-item__title") SOBAKEN Flea Collar for Cat, Natural Flea Collar
                                        span(class="catalog-item__price") 
                                            span $123.32
                                            span(class="catalog-item__price-old") $145
                                        div(class="catalog-item__buttons")
                                            button(type="button" class="catalog-item__button") 
                                                img(src="images/common/cart.svg" alt="cart-item" class="catalog-item__cart")
                                                img(src="images/common/approve.svg" alt="approve-item" class="catalog-item__approve")
                                                span(class="catalog-item__add") Add to cart
                                                span(class="catalog-item__txt-approve") Added!
                                            button(type="button" class="catalog-item__button-love")
                                                img(src="images/common/outline.svg", alt="outline-1")
                    button(class="catalog-button catalog-button--mobile" type="button") View all (14)                   