header(class="main-header")
    div(class="container")
        nav(class="menu-main d-none")
            ul 
                li 
                    a(href="#") All  
                li
                    a(href="#") For cats
                li
                    a(href="#") For dogs
                li
                    a(href="#") Our blog
                li
                    a(href="#") Contact us