@import './generated/smartgrid';
@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
@import './base/base';
@import './bootstrap/bootstrap';
@import './layout/**/*';
@import './components/**/*';

.bg1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1440px;
    z-index: 10;
    display: none;
}

.notification {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #46BF8C;
    color: #fff;
    padding: 10px;
    display: none;
    z-index: 999;
}
