@import './generated/smartgrid';
@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
@import './base/base';
@import './layout/**/*';
@import './components/**/*';

.menu-main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-main a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #4D4C59;
}
